#feature-magicwand .config-block {
  padding: 5px;
}
#tolerance-block .slider {
  display: grid;
  grid-template-columns: auto 30px;
}
#tolerance-block .slider div {
  text-align: right;
  position: relative;
  top: 2px;
}
