#feature-stats {
  height: 100vh;
  padding: 10px 15px 10px 10px;
  display: grid;
  grid-template-rows: 4fr 1fr;
  row-gap: 10px;
}
#feature-stats .stat-block {
  overflow-y: auto;
  padding-right: 5px;
}
#feature-stats .stat-block h4 {
  margin-bottom: 5px;
}
#feature-stats .stat-block .color-row {
  display: grid;
  grid-template-columns: 20px auto 60px;
  column-gap: 5px;
  margin-bottom: 5px;
}
#feature-stats .stat-block .color-row .color-square {
  width: 20px;
  height: 20px;
}
#feature-stats .stat-block .color-row .color-count {
  text-align: right;
}
#feature-stats .block-count {
  font-weight: normal;
}
